.hyperlink{
    color: blue;
    cursor: pointer;
}
.hyperlink:hover{
    text-decoration: underline;
}
.box{
    position: absolute;
    text-align: center;
    border: 2px solid black;
    width: 30%;
    left: 35%;
    top: 30%;
}